/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header */
.header-content {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navbar */
.navbar ul {
    list-style: none;
    background: #444;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #ff5733;
}

/* Main Content */
.dashboard-content {
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #444;
    color: white;
}

/* Login Page */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff5733;
}
