* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ticket-container {
    background-color: white;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

strong {
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .ticket-container {
        width: 90%;
    }
}
